h1{
    color: #0a2f35;
    font-family: kanit,'Courier New', Courier, monospace;
    text-align: center;
    font-size: 48px;
}
h2{
    margin-left: 85%;
    color: #12492f;
    font-family: kanit,'Courier New', Courier, monospace;
}

/*BG*/
body{
    background-color: #86b6d9 ;
}

/*margin*/
.textbox{
    text-align: center;
}
.button1{
    text-align: center;
}

@media only screen and (max-width: 767px){
    .class1{
        border: 2px solid #f56038;
    }
}