body{
    background-color: bisque;
    font-family: kanit;
}

legend{
    
    font-size: 32px ;
    color: black;
}

h2{
    font-size: 16px ;
    color: crimson;
}
input{
    font-size:  22px ;
}








